@charset "UTF-8";

/* 共通パーツ  */
html {
  font-size: 16px;
}

body {
  color: #624649;
  font-size: 1rem;
  font-family: "YuGothic", Yu Gothic, serif;
}

h1 {
  font-family: 'Prata', cursive;
  font-size: 4rem;
  letter-spacing: 10px;
  color: #fff;
  font-weight: normal;
  text-shadow: 0px 0px 0px #fff;
  filter: drop-shadow(2px 1px 2px #fff);
}

h2 {
  font-size: 3rem;
  margin-bottom: -5px;
  font-family: 'Prata', cursive;
  font-weight: normal;
  letter-spacing: 4px;
  color: #f63001;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.ja-title {
  font-size: 1rem;
  color: #f63001;
}

ul,
li,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: 0.6s;
}

a:hover {
  transition: 0.6s;
}

/* section {
  padding-top: 80px;
  padding-bottom: 80px;
} */
/* ↓ */
#concept,
#feature,
#thought,
#cakelife,
#lineup,
#package,
#store,
#contact {
  padding: 80px 0;
}

.about-text {
  font-size: 1rem;
  letter-spacing: 0.8px;
}

.box-design {
  background-color: #fff;
}

.feature-wrapper,
.life-wrapper,
.lineup-wrapper,
.package-wrapper,
.store-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  border-style: solid;
  height: 28px;
}

select::-ms-expand {
  display: block;
}

/* サイト全体 */
.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

/* グローバルナビゲーション */
.g-navi {
  position: absolute;
  background-color: #f63001;
  width: 100%;
}

.g-navi ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.g-navi ul li {
  flex-basis: 16.6%;
  text-align: center;
}

.g-navi ul li a {
  display: block;
  color: #fff;
  padding: 20px 0;
}

.g-navi ul li a:hover {
  color: #fff;
  background-color: #000;
  opacity: 0.3;
  /* transition: 0.6s; */
}

/* メインビジュアル */
#main-visual {
  background-image: url(../image/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 633px;
}

.mv-wrapper {
  position: relative;
}

.mv-right {
  position: absolute;
  top: 240px;
  right: 0;
  max-width: 100%;
}

.text {
  font-family: 'Prata', cursive;
  font-size: 1.625rem;
  letter-spacing: 2px;
  color: #fff;
  filter: drop-shadow(1px 1px 1px #fff);
  text-shadow: 0px 0px 1px #fff;
  text-align: center;
  margin-bottom: 80px;
}

.purchase-button {
  text-align: center;
}

.purchase-button a {
  display: inline-block;
  background-color: #f63001;
  color: #fff;
  padding: 15px 50px;
  font-size: 1.375rem;
}

.purchase-button a:hover {
  background-color: #fff;
  color: #f63001;
}

/* コンセプト */
#concept {
  background-color: #f6e2c0;
  background-image: url(../image/back1.png), url(../image/back2.png);
  background-size: 22%, 22%;
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
  text-align: center;
}

.concept-copy {
  text-align: center;
}

.main-copy {
  font-size: 1.5rem;
  margin-bottom: 50px;
  font-weight: normal;
}

.concept-text {
  margin-bottom: 20px;
  line-height: 1.8;
}

/* こだわり */
#feature {
  background-color: #f0ede4;
}

.feature-box {
  max-width: 320px;
}

.feature-box:nth-of-type(2) {
  background-color: #fff0af;
}

.feature-text {
  padding: 20px 15px;
}

.feature-number {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: 'Prata', cursive;
  color: #f63001;
}

.feature-title {
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.feature-about {
  font-size: 1rem;
}

.feature-image {
  max-width: 100%;
}

/* 想い */
#thought {
  background-color: #f63001;
}

#thought h2,
#thought .ja-title {
  color: #fff;
}

.thought-container {
  position: relative;
}

/* .staff-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #fff0af;
  padding: 2rem;
} */

.staff-box {
  display: none;
}

.staff-box.active {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #fff0af;
  padding: 2rem;
}

.staff-image {
  display: block;
  width: 48%;
}

.staff-text {
  width: 48%;
}

.staff-title {
  font-size: 1.375rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal;
}

.staff-about {
  margin-bottom: 20px;
  padding: 20px;
}

.staff-name {
  text-align: right;
}

.slide-button {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 48px;
  height: 48px;
  border-top: 2px solid #c0c0c0;
  margin: auto;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
  border-left: 2px solid #c0c0c0;
  transform: rotate(-45deg);
}

.next {
  right: 10px;
  border-right: 2px solid #c0c0c0;
  transform: rotate(45deg);
}

/* ケーキライフ */
#cakelife {
  background: linear-gradient(#f7e3c0, #ffefaf);
}

.life-type {
  text-align: center;
}

.life-img {
  width: 100%;
  margin-bottom: 5px;
}

.life-type a {
  display: block;
  padding: 10px;
  color: #333;
}

.life-type a:hover {
  color: #f63001;
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .1);
}

/* モーダルのスタイル */
.modal-main {
  display: none;
}

.modal-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #666;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.inner-content {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 1024px;
}

.modal-inner img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.inner-title {
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 2.8rem;
  font-weight: bold;
}

.inner-text {
  font-size: 1.6rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modalClose {
  cursor: pointer;
}

#cakelife .send-button {
  background: #f63001;
  color: #fff;
}

#cakelife .send-button:hover {
  background: #ff5a33;
}

/* ラインナップ */
.lineup-menu {
  margin-bottom: 3rem;
}

.lineup-menu ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 2px solid #f63001;
}

.lineup-menu ul li {
  width: 100%;
  text-align: center;
}

.lineup-menu ul li a {
  display: block;
  color: #333;
  background-color: #d1d1d1;
  border-radius: 30px 30px 0 0;
  padding: 0.5rem 0;
}

.lineup-menu ul li a:hover {
  color: #fff;
  background-color: #f63001;
}

.lineup-menu ul li.active a {
  color: #fff;
  background-color: #f63001;
}

.lineup-product {
  flex-basis: 31%;
}

.lineup-image {
  border-radius: 30px;
  border: 1px dashed #f63001;
  padding: 4rem 0;
  text-align: center;
  margin-bottom: 20px;
}

.name-en {
  font-size: 1.5rem;
  font-weight: bold;
}

.lineup-text {
  line-height: 1.8;
}

.more-lineup {
  text-align: center;
  margin-top: 60px;
}

.btn-more {
  display: inline-block;
  background-color: #f63001;
  color: #fff;
  border: 1px solid #f63001;
  padding: 10px 100px;
  font-size: 1.375rem;
  letter-spacing: 3px;
}

.btn-more:hover {
  background-color: #fff;
  color: #f63001;
}

/* パッケージ */
#package {
  background-color: #f6e2c1;
}

.package-lineup {
  flex-basis: 31%;
}

.package-image {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 20px;
}

.package-title {
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.package-value {
  color: #f63001;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.package-select {
  width: 100%;
  margin-bottom: 10px;
}

.purchase-number {
  margin-bottom: 20px;
}

.number {
  width: 50px;
}

.select-cart {
  margin-bottom: 30px;
  height: 54px;
}

.select-cart a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #f63001;
  filter: drop-shadow(0px 4px 0px #c50000);
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 4px;
  transition: 0s;
}

.select-cart a:hover {
  filter: none;
  height: 54px;
  margin-bottom: 0;
  transition: 0s;
}

/* 店舗情報 */
#store {
  background: #d1d1d1;
}

.map-image,
.cafe-text {
  flex-basis: 48%;
}

.store-name {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 30px;
  /* font-family: 'Prata', cursive; */
}

address {
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.8;
}

.store-address {
  color: #624649;
}

/* お問い合わせ */
#contact {
  background: #f63001;
}

#contact h2,
#contact .ja-title {
  color: #fff;
}

form {
  margin: 0 auto;
  max-width: 500px;
}

.ct-block {
  margin-bottom: 32px;
}

.contact-text {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.form-name,
.form-mail,
.cp-howto select {
  border: 1px solid #b1b1b1;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #fff;
}

textarea {
  border: 1px solid #b1b1b1;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
}

.cp-howto {
  position: relative;
  border: 1px solid #b1b1b1;
  background: #fff;
}

.cp-howto::before {
  position: absolute;
  top: 14px;
  right: 10px;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 13px solid #666;
}

.cp-howto select {
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 40px 10px 10px;
}

.cp-howto select::-ms-expand {
  display: none;
}

.send-button {
  display: block;
  background: #fff;
  font-size: 1.375rem;
  /* font-weight: bold; */
  padding: 10px 120px;
  margin: 0 auto;
  color: #f63001;
  transition: 0.6s;
}

.send-button:hover {
  background-color: #f6e2c0;
  color: #f63001;
  transition: 0.6s;
}

/* フッター */
footer {
  background: #3a3532;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-content a {
  color: #fff;
}

.footer-content a:hover {
  color: #624649;
}

.logo-wrapper {
  flex-grow: 2;
}

.menu {
  flex-grow: 1;
}

.logo {
  display: block;
  font-size: 3rem;
  font-family: 'Prata', cursive;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

.sns-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.mark {
  margin-right: 1rem;
}

.mark img {
  width: 30px;
}

.menu ul li {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

footer small {
  padding-bottom: 20px;
  display: block;
  text-align: center;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {

  /* 共通パーツ */
  section {
    overflow-x: hidden;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-align: center;
  }

  #concept,
  #feature,
  #thought,
  #cakelife,
  #lineup,
  #package,
  #store,
  #contact {
    padding: 60px 0;
  }

  /* グローバルナビゲーション */
  /* .g-navi {
    display: none;
  } */

  .g-navi {
    display: block;
    position: fixed;
    z-index: 2;
    padding-top: 60px;
    transform: translateY(-100%);
    transition: .5s ease-in-out;
    height: 100vh;
  }

  .g-navi ul {
    display: block;
  }

  .g-navi.active {
    transform: translateY(0%);
    transition: .5s ease-in-out;
  }

  .g-navi-sp {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f63001;
    width: 100%;
    height: 60px;
    padding: 4%;
    z-index: 3;
  }

  /* ロゴエリア */
  .sp-logo {
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 3px;
    font-family: 'Prata', cursive;
  }

  /* ハンバーガーメニュー */
  .menu-trigger {
    position: relative;
    width: 30px;
    height: 42px;
    cursor: pointer;
  }

  .menu-trigger span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: 3px solid #fff;
    border-radius: 3px;
    transition: .35s ease-in-out;
  }

  .menu-trigger span:nth-child(1) {
    top: 6px;
  }

  .menu-trigger span:nth-child(2) {
    top: 18px;
  }

  .menu-trigger span:nth-child(3) {
    top: 30px;
  }

  .menu-trigger.active span:nth-child(1) {
    top: 18px;
    transform: rotate(-45deg);
  }

  .menu-trigger.active span:nth-child(2),
  .menu-trigger.active span:nth-child(3) {
    top: 18px;
    transform: rotate(45deg);
  }

  /* メインビジュアル */
  #main-visual {
    background-image: url(../image/sp/mv.png);
    height: 500px;
    max-height: inherit;
    padding-top: 60px;
  }

  .mv-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .mv-right {
    position: relative;
    top: 0;
    right: 0;
  }

  .text {
    font-size: 1rem;
    margin-bottom: 30px;
    letter-spacing: 2px;
  }

  /* コンセプト */
  #concept {
    background-size: 45%;
  }

  /* こだわり */
  .feature-wrapper {
    flex-wrap: wrap;
  }

  .feature-box {
    margin-bottom: 20px;
    max-width: inherit;
  }

  .feature-image {
    width: 100%;
  }

  /* 想い */
  /* .staff-box {
    display: block;
    background: none;
    padding: 0 2rem 2rem 2rem;
  } */

  .staff-box {
    display: none;
  }

  .staff-box.active {
    display: block;
    background: none;
    padding: 0 2rem 2rem 2rem;
  }

  .staff-image {
    width: 100%;
    margin-bottom: 15px;
  }

  .staff-text {
    width: 100%;
    padding: 15px 10px 10px;
    background: #fff0af;
  }

  .staff-title {
    text-align: left;
    margin-bottom: 15px;
    line-height: 1.8;
  }

  .staff-about {
    margin-bottom: 10px;
    padding: 10px;
  }

  .slide-button {
    width: 30px;
    height: 30px;
  }

  /* ライフ */
  .life-wrapper {
    flex-wrap: wrap;
  }

  .life-type {
    flex-basis: 47%;
    margin-bottom: 20px;
  }

  .life-type a {
    padding: 0;
  }

  /* ラインナップ */
  .lineup-menu {
    margin-bottom: 0;
  }

  .lineup-menu ul {
    flex-wrap: wrap;
    border-bottom: none;
  }

  .lineup-menu ul li {
    flex-basis: 50%;
    border-bottom: 2px solid #f63001;
    margin-bottom: 20px;
  }

  .lineup-menu ul li a {
    border-radius: 20px 20px 0 0;
    padding: 6px 0;
  }

  .lineup-wrapper {
    flex-wrap: wrap;
  }

  .lineup-product {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  .lineup-image {
    padding: 3rem 0;
  }

  .more-lineup {
    margin-top: 0;
  }

  /* パッケージ */
  .package-wrapper {
    flex-wrap: wrap;
  }

  .package-lineup {
    flex-basis: 100%;
    margin-bottom: 60px;
  }

  .package-lineup:last-child {
    margin-bottom: 0;
  }

  /* 店舗情報 */
  .store-wrapper {
    flex-wrap: wrap
  }

  .map-image,
  .cafe-text {
    flex-basis: 100%;
  }

  .map-image {
    height: 200px;
    margin-bottom: 30px;
  }

  .cafe-text {
    text-align: center;
  }

  .store-name {
    margin-bottom: 20px;
  }

  address {
    line-height: 2.4;
  }

  /* フッター */
  .footer-content {
    text-align: center;
    flex-wrap: wrap;
  }

  .logo-wrapper {
    flex-grow: 1;
    flex-basis: 100%;
  }

  .logo {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .sns-block {
    justify-content: center;
    margin-bottom: 40px;
  }

  .menu {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .menu:last-child {
    margin-bottom: 0;
  }

  .menu ul li {
    margin-bottom: 10px;
  }
}

/* ここまで768px以下の範囲 */




/* ■ファーストビュー：背景
画像をbackgroundで設定

■グローバルナビゲーション（ヘッダーメニュー）
背景色：#f63001

■グローバルナビゲーションのマウスオン時（:hover）
文字色：#fff
背景色：#000
透過度(背景)：0.3

■ご購入はこちら」ボタン色
文字色：#fff
背景色：#f63001

■マウスオン時（:hover）の「ご購入はこちら」ボタン色
文字色：#f63001
背景色：#fff

■コンセプトエリア：背景色
#f6e2c0

■こだわりエリア：背景色
#f0ede4

■パティシエの想いエリア：背景色
#f63001

■ケーキライフエリア：背景色
上：#f7e3c0
下：#ffefaf

■商品ラインナップエリア：背景色
#fff

■パッケージエリア：背景色
#f6e2c1

■moreボタン
背景色：#f63001
文字色：#fff

■ストアエリア：背景色
#d1d1d1

■コンタクトエリア
文字色：#fff
背景色：#f63001



★文字の大きさ
■ファーストビュー
cake shop 72px（4rem）
ひとくちにしあわせは宿る：26px（1.625rem）

■各エリアの大見出し：48px（3rem）

■各文言
・コンセプトメインコピー
・こだわりのpoint1〜3
・ラインナップの商品名
：24px（1.5rem）

・「ご購入はこちら」
・「more」
・「送信」
・各こだわりの中見出し
・想いの中見出し
・パッケージの商品名

・店舗名
・カートに入れる
：20px（1.25rem）

・通常の文章
・値段
・各エリアのサブ見出し
：16px（1rem）

■フッター
cake shop：48px（3rem）
コピーライト：13px */
